* {
    font-family: verdana;
    margin: 0;
}

body {
    background: #eee;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    background: #fff;
    flex-wrap: wrap;
}

.box {
    height: 100px;
    /* flex-grow: 1; */
    flex: 1 0 200px;
}

.one {
    background: red;
    /* flex-basis: 100px; */
}

.two {
    background: blue;
    /* flex-basis: 200px; */
}

.three {
    background: green;
    /* flex-basis: 300px; */
}